<header id="head" class="secondary">
            <div class="container">
                    <h1>Registration Successful</h1>
                    <p>Thanks for registering! Sign in to continue</a></p>
                </div>
    </header>